.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA94D;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 15vh; /* Ensure the top nav does not exceed 20% of the screen height */
    width: 100%;
    font-family: 'Avenir', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-form {
  padding: 0;
  margin-left: auto;
  width: 70%; /* Limit the size to a maximum of 70% of the parent container */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Ensure content is aligned to the top */
    height: 100%; /* Make sure the card-form takes up the full height of the parent card */
    max-height: 100%; /* Prevent overflow beyond the parent container */
    text-overflow: ellipsis;
}


/* Left side (clickable area) */
.clickable-area {
    flex: 1;
    cursor: pointer;
    text-align: left;
  }
  
  .clickable-area .title {
    font-size: 1.1rem;
    font-family: 'Avenir', sans-serif;
    color: #000000;
    font-weight: bold; /* Make title bold */
    margin: 0;
  }
  
  .clickable-area p {
    font-size: 1.1rem;
    color: #000000; /* Fully black for better readability */
    line-height: 1.4;
    margin-top: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
  }  

  /* Right side (Check In button) */
  .card-footer {
    height:100%;
    width: 15%;
    display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto; /* pushes it to the far right */
  }
  
  .checkin-btn {
    background-color: rgb(109, 172, 93);
    height:100%;
    color: #fff;
    font-family: 'Avenir', sans-serif;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .checkin-btn:hover {
    background-color: rgb(125, 176, 112);
  }